<h2>New Plane</h2>

<div class="newplane">

    <div class="newplaneform">

        <%= form_with model: @airplane, local: true do |f| %>

            <%= f.label :name %>
            <br>
            <%= f.text_field :name %>
            <br><br>

            <%= f.label :rows %>
            <br>
            <%= f.number_field :rows %>
            <br><br>

            <%= f.label :columns %>
            <br>
            <%= f.number_field :columns %>
            <br><br>

            <%= f.submit %>


        <% end %>

    </div>

</div>