<h2>New Plane</h2>

<div class="newplane">

    <div class="newplaneform">

        <%= form_with model: @airplane, local: true do |f| %>

            <%= f.label :name %>
            <br>
            <%= f.text_field :name %>
            <br><br>

            <%= f.label :row %>
            <br>
            <%= f.number_field :row %>
            <br><br>

            <%= f.label :column %>
            <br>
            <%= f.number_field :column %>
            <br><br>

            <%= f.submit %>


        <% end %>

    </div>

</div>